// _variables.scss
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$primary: #FF6F1D;
$primary_linear: #FF561D;
$secondary: #252525;
$black14: #141414;
$white: #fff;
$layoutBg: #F6F7F9;
$inputBgGray: #F6F7F9;
$backgroundWhite: #ffffff;
$black25: #252525;
$black62: #626262;
$grayb1: #B1B1B1;
$gray8DC: #8D8C8C;
$grayA1A: #A1A1A1;
$greenCheck: #34A853;
$grayF1F2F5: #F1F2F5;
$grayb2: #CECECE;
$grayb3: #C8C8C8;
$grayBC: #BCBCBC;
$gray62: #626262;
$grayCE: #CECECE;
$statusGreen: #106929;
$statusGreenBg: #B5F6C7;
$statusRed: #A42626;
$statusRedBg: #F6B5B5A4;
$statusGray: #5F5F5F;
$statusGrayBg: #CECECE;
$statusBg: #B5F6C7;
// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Fonts
$font-base: "Figtree", sans-serif;
